{% extends 'base/base.html' %}
{% block content %}
    <div class="container text-white">
        <nav class="navbar navbar-dark bg-dark text-white">
            <a class="font-size20 btn-outline-success text-white nav-item" href="{% url 'jInfo:home' %}">URI Solves</a>
            <a class="font-size20 btn-outline-success text-white nav-item" href="#"></a>
            <a class="font-size20 btn-outline-success text-white nav-item" href="{% url 'jInfo:cf_solves' %}">CF
                Solves</a>
            <a class="font-size20 btn-outline-success text-white nav-item" href="{% url 'jInfo:cf_list' %}">CF List</a>
        </nav>
        {% block content2 %} {% endblock content2 %}
    </div>
{% endblock content %}