{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
        <div class="col-md-6">
            <label for="chat-message-input"></label>
            <textarea rows="2" class="form-control" type="text" name="message" id="chat-message-input"></textarea>
            <input id="chat-message-submit" value="Send" type="button" class="btn btn-outline-success">
            {{ room_name|json_script:"room-name" }}
            <div id="chat">
                {% for message_obj in message_list_obj %}
                    {% if user.username == message_obj.sender.username %}
                        <div class="row">
                            <div class="col-auto"><p class="alert-success">{{ message_obj.message }}</p></div>
                            <div class="col"></div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col"></div>
                            <div class="ml-md-auto"><p class="alert-primary">{{ message_obj.message }}</p></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            var user =
            {{ user }}
            var chat = $("#chat")
            var ele = $('<div class="row"> </div>')
            if (user.username === data.sender.username) {
                ele.append(
                    $("<p class='alert-success'></p>").text(data.message)
                )
                ele.append(
                    $("<div class='col'></div>").text(data.message)
                )
            } else {
                ele.append(
                    $("<div class='col'></div>").text(data.message)
                )
                ele.append(
                    $("<p class='alert-primary'></p>").text(data.message)
                )
            }

            chat.append(ele)
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            const sender = {{ user }};
            const recipient_id = {{ recipient_id }};
            chatSocket.send(JSON.stringify({
                'message': message,
                'sender': sender,
                'recipient_id': recipient_id,
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock content %}