{% extends 'base/base.html' %}
{% block content %}
    <div class="container text-white">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <form class="box rounded-circle" name="myForm" action="{% url 'users:edit' %}" method="post">
                    {% csrf_token %}
                    <p class="text-muted">Nickname</p>
                    {{ forms }}
                    <button class="btn-lg btn-outline-success font-size25" type="submit">Save</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock content %}