{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
        <div class="row align-middle">
        <div class="col-lg-3 col-md-3"></div>
            <div class="col-auto">
                {% if form.errors %}
                    <p class="card-text">Your username and password didn't match. Please try again.</p>
                {% endif %}
                <form class="card-text box" method="post" action="{% url 'users:login' %}">
                    <p class="text-muted"> Please enter your login and password!</p>
                    {% csrf_token %}
                    <p class="text-muted h4">Username</p>
                    {{ form.username }}
                    <p class="text-muted h4">Username</p>
                    {{ form.password }}
                    <div class="form-group">
                        <a href="{% url 'users:reset_pass_form' %}" class="text-muted">Forget password?</a>
                        <input type="submit" name="" value="Login" href="{% url 'users:info' %}">
                        <a href="{% url 'users:create' %}" class="text-muted h4">New user</a>
                    </div>
                    <input class="card-deck" type="hidden" name="next" value="{% url 'users:info' %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
