{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <form class="box rounded-pill" method="post" action="{% url 'users:create' %}">
                    {% csrf_token %}
                    <div class="text-danger">
                        {% if forms.errors %}
                            {{ forms.errors }}
                        {% endif %}
                    </div>
                    <p class="text-muted h4">Username</p>
                    {{ forms.username }}
                    <div class="bg-info h5">
                        <p>{{ forms.password1.help_text }}</p>
                    </div>
                    <p class="text-muted h4">Password</p>
                    {{ forms.password1 }}
                    <p class="text-muted h4">Password again</p>
                    {{ forms.password2 }}
                    <div class="form-group">
                        <input type="submit" name="" value="Register" href="{% url 'users:info' %}">
                        <a class="text-success h4" href="{% url 'users:login' %}">Already user</a><br>
                        <p></p>
                        <a class="text-muted h4" href="{% url 'users:reset_pass_form' %}">Reset Password</a>
                    </div>
                    <input type="hidden" name="next" value="{% url 'home:home' %}"/>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock content %}