{% extends 'base/base.html' %}
{% block content %}
    <p class="display-4">User Information</p>
    <div class="container text-white">
        <table class="table table-dark table-bordered">
            <tbody>
            <tr>
                <td>First name</td>
                <td>{{ first_name }}</td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>{{ last_name }}</td>
            </tr>
            <tr>
                <td>Nick name</td>
                <td>{{ nick_name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{% if not email %}
                    not added
                {% else %}
                    {{ email }}
                {% endif %}</td>
            </tr>
            <tr>
                <td>Blood group</td>
                <td>{{ blood_group }}</td>
            </tr>
            <tr>
                <td>Codeforces Handle</td>
                <td>{{ cf_handle }}</td>
            </tr>
            <tr>
                <td>URI ID</td>
                <td>{{ uri_id }}</td>
            </tr>
            <tr>
                <td>Telegram member id</td>
                <td>{{ telegram_id }}</td>
            </tr>
            <tr>
                <td>Joined on</td>
                <td>{{ joined_on }}</td>
            </tr>
            <tr>
                <td>Last visited</td>
                <td>{{ last_visited }}</td>
            </tr>
            </tbody>
        </table>
    <a href="{% url 'users:edit' %}" class="btn-lg btn-success">Edit</a>
    </div>
{% endblock content %}