{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
        <button class="btn-lg btn-outline-success" onclick="update_uri_points()">Update</button>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Points</th>
                <th scope="col">Solved</th>
            </tr>
            </thead>
            <tbody>
            {% for info in all_info %}
                <tr>
                    <td>{{ info.name }}</td>
                    <td>{{ info.points }}</td>
                    <td>{{ info.solved }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>function update_uri_points() {
        window.location.href = "http://brurcse12.herokuapp.com/jInfo/uri_points_update/";
    }</script>
{% endblock content %}