{% extends 'base/problem_base.html' %}
{% block content2 %}
    <div class="container bg-white text-dark">
        <h2>Add problem</h2>
        <form action="{% url 'problems:add_problem' contest_id %}" method="post">
            {% csrf_token %}
            <label for="pn">Problem name</label><input type="text" id="pn" name="pn">
            <label for="ps">Problem Statement</label>
            <textarea name="ps" id="ps" class="form-control" rows="8"></textarea>
            <label for="it">Input terms</label>
            <textarea name="it" id="it" class="form-control" rows="4"></textarea>
            <label for="ot">Output terms</label>
            <textarea name="ot" id="ot" class="form-control" rows="4"></textarea>
            <label for="code">Correct code</label>
            <textarea name="cc" id="code" style="display: none;"></textarea>
            <pre id="editor"></pre>
            <label for="exampleFormControlSelect1">Who can see</label>
            <select class="form-control" id="exampleFormControlSelect1" name="group">
                <option value="public">Public</option>
                <option value="batch12">Batch12</option>
            </select>
            <label for="is_con">Is contest</label>
            <select class="form-control" id="is_con" name="is_con">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <input type="hidden" value="{{ contest_id }}">
            <button type="submit" class="btn-lg btn-outline-success">Save</button>
        </form>
        <p>Care fully check you code. At this moment it is not editable by general people</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.min.js"></script>
    <script>
        // trigger extension
        ace.config.set('basePath', 'http://brurcse12.herokuapp.com/problems/get_file')
        ace.require("ace/ext/language_tools");
        var editor = ace.edit("editor");
        editor.session.setMode("ace/mode/c_cpp");
        editor.setTheme("ace/theme/gob");
        // enable autocompletion and snippets
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
        editor.setFontSize("17px")
        editor.commands.addCommand({
            name: "showKeyboardShortcuts",
            bindKey: {win: "Ctrl-Alt-h", mac: "Command-Alt-h"},
            exec: function (editor) {
                ace.config.loadModule("ace/ext/keybinding_menu", function (module) {
                    module.init(editor);
                    editor.showKeyboardShortcuts()
                })
            }
        })
        var textarea = document.getElementById('code');
        editor.getSession().on("change", function () {
            textarea.value = editor.getSession().getValue();
        });
    </script>
{% endblock content2 %}