{% extends 'base/base.html' %}
{% block content %}
    <div class="container text-white">
        <h3>Running contests</h3>
        {% if running_contests|length == 0 %}
            <h6>No running contests</h6>
        {% else %}
            {% for contest in running_contests %}
                <div class="card mb3 text-white bg-dark">
                    <div class="card-header">
                        <div class="row"><p>Created By: {{ contest.creator }}</p>
                            <p class="ml-auto">Tested by: {{ contest.tester }}</p></div>
                        <div class="row"><div class="col-auto align-right"><p>Start: {{ contest.start_time }}</p></div>
                            <div class="col-auto align-right"><p>End: {{ contest.end_time }}</p></div></div>
                    </div>
                    <div class="card-body">
                        <a class="h4" href="{% url 'problems:contest_problem' contest.id %}">{{ contest.contest_name }}</a>
                    </div>
                </div>
                <br>
            {% endfor %}
        {% endif %}

        <h3>Upcoming contests</h3>
        {% if upcoming_contests|length == 0 %}
            <h6>No upcoming contests</h6>
        {% else %}
            {% for contest in upcoming_contests %}
                <div class="card mb3 text-white bg-dark">
                    <div class="card-header">
                        <div class="row"><p>Created By: {{ contest.creator }}</p>
                            <p class="ml-auto">Tested by: {{ contest.tester }}</p></div>
                        <div class="row"><div class="col-auto align-right"><p>Start: {{ contest.start_time }}</p></div>
                            <div class="col-auto align-right"><p>End: {{ contest.end_time }}</p></div></div>
                    </div>
                    {% if user.is_staff or user.user_info.nick_name == contest.creator or user.userinfo.nick_name == contest.tester %}
                        <div class="card-body">
                            <a class="h4" href="{% url 'problems:contest_problem' contest.id %}">{{ contest.contest_name }}</a>
                        </div>
                    {% else %}
                        <div class="card-body">
                            <a class="h4" href="{% url 'problems:upcoming_contest' contest.id %}">{{ contest.contest_name }}</a>
                        </div>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        {% endif %}

        <h3>Ended contests</h3>
        {% if ended_contest|length == 0 %}
            <h6>No Ended contests</h6>
        {% else %}
            {% for contest in ended_contest %}
                <div class="card mb3 text-white bg-dark">
                    <div class="card-header">
                        <div class="row"><p>Created By: {{ contest.creator }}</p>
                            <p class="ml-auto">Tested by: {{ contest.tester }}</p></div>
                        <div class="row"><div class="col-auto align-right"><p>Start: {{ contest.start_time }}</p></div>
                            <div class="col-auto align-right"><p>End: {{ contest.end_time }}</p></div></div>
                    </div>
                    <div class="card-body">
                        <a class="h4" href="{% url 'problems:ended_contest' contest.id %}">{{ contest.contest_name }}</a>
                    </div>
                </div>
                <br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}