{% extends 'base/base.html' %}
{% block content %}
    <div class="container text-white">
        {% for an in ann %}
            <h3>{{ an.text }}</h3>
        {% endfor %}
        {% if contest_id == 0 or contest_id == -1 %}
            {% if contest_id == -1 %}
                <a href="{% url 'problems:standing' f_c_id %}" class="btn-lg btn-success">Standings</a>
            {% endif %}
            <table class="table table-dark text-white table-bordered">
                {% for problem in problem_list %}
                    <tr>
                        <th>
                            <a class="h5" href="{% url 'problems:problem' problem.id %}">{{ problem.problem_name }}</a>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p>{{ problem.problem_statement| truncatechars:50 }}</p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <a href="{% url 'problems:standing' contest_id %}" class="btn-lg btn-success">Standings</a>
            <table class="table table-dark text-white table-bordered">
                {% for problem in problem_list %}
                    <tr>
                        <th>
                            <a class="h5"
                               href="{% url 'problems:s_c_problem' problem.id contest_id %}">{{ problem.problem_name }}</a>
                        </th>
                    </tr>
                    <tr>
                        <td><p>{{ problem.problem_statement| truncatechars:10 }}</p></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock content %}