{% extends 'base/base.html' %}
{% block content %}
    <div class="container text-white">
        <h3></h3>
        <table class="table table-dark table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Solve</th>
            </tr>
            </thead>
            {% for result in results %}
                <tr>
                    <td>{{ result.0 }}</td>
                    <td>{{ result.1 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}