{% load custom_tags %}
<div class="container">
    <p class="display-4 text-white">{{ title }}</p>
    <a href="{% url 'tutorial:add_tut' topic_id %}" class="btn btn-outline-light">Add tutorial</a>
    {% for tutorial in tut_obj %}
        <div class="card mb-3">
            <div class="card-header">
                <a class="h3" href="{% url 'tutorial:tut' tutorial.id %}">{{ tutorial.tut_title }} </a>
                {% if user.username == tutorial.owner.username or user.id == 1 or user.id == 2 %}
                    <a href="{% url 'tutorial:edit' tutorial.id %}">edit</a>
                {% else %}
                    <a href="{% url 'chat:target_message' tutorial.owner.id %}">request correction</a>
                {% endif %}
                <br>Date: {{ tutorial.date }} by: {{ tutorial.owner|get_name }}
            </div>
            <div class="card-body">
                <p>{{ tutorial.tut_text| truncatechars:50|safe }}...</p>
            </div>
        </div>
    {% endfor %}
    <div class="text-white align-content-center">
        <ul class="pagination">
            {% if tut_obj.has_previous %}
                <a class="btn btn-outline-light" href="?page=1">&laquo; first</a>
                <a class="btn btn-outline-light" href="?page={{ tut_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                    Page {{ tut_obj.number }} of {{ tut_obj.paginator.num_pages }}.
                </span>
            {% if tut_obj.has_next %}
                <a class="btn btn-outline-light" href="?page={{ tut_obj.next_page_number }}">next</a>
                <a class="btn btn-outline-light" href="?page={{ tut_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </ul>
    </div>
</div>